<template>
  <q-page class="q-pa-lg">
    <h5 class="q-mt-none">About</h5>
    <p>
      A simple todo app.
    </p>
    <h6 class="q-ma-none">Release</h6>
    <table class="q-ml-lg">
        <tr>
            <th class="float-right">version</th>
            <td class="q-pl-sm">1.4.1</td>
        </tr>
        <tr>
            <th class="float-right">released</th>
            <td class="q-pl-sm">2020-02-25</td>
        </tr>
        <tr>
            <th class="float-right">inception</th>
            <td class="q-pl-sm">2020-01-01</td>
        </tr>
        <tr>
            <th class="float-right">source</th>
            <td class="q-pl-sm"><a href="https://gitlab.com:drad/flask-todo-api">gitlab.com:drad/flask-todo-api</a></td>
        </tr>
        <tr>
            <th class="float-right">issues</th>
            <td class="q-pl-sm"><a href="https://gitlab.com/drad/flask-todo-api/issues">gitlab.com/drad/flask-todo-api/issues</a></td>
        </tr>
        <tr>
            <th class="float-right">authors</th>
            <td class="q-pl-sm">drad</td>
        </tr>
    </table>
    <p class="q-mt-sm q-mb-none">
        &copy; 2020 <a href="https://dradux.com">dradux.com</a> - All Rghts Reserved.<br/>
    </p>
    <div class="q-ml-md text-italic">this application is licensed under GPLv3, see <a href="https://gitlab.com/drad/flask-todo-api/blob/master/LICENSE">LICENSE</a> for more details</div>
  </q-page>
</template>

<script>
export default {

}
</script>
