<template>
  <q-page class="q-pa-lg">
    <h5 class="q-mt-none">Help</h5>
    <p>
      This app is rather simple, a task is a todo with additional information. A task can have the following:
      <ul>
        <li>todo: the thing to do (changed by clicking on the edit icon for a task)</li>
        <li>priority: a prioroty - this controls the sort order of tasks (changed by click on the priority for a task)</li>
        <li>completed: the date/time the task was completed (toggled by click on the task)</li>
        <li>note: a note about the task (changed by clicking on the Note icon for a task)</li>
      </ul>
      Once a task is marked as complete it can be deleted.
    </p>
  </q-page>
</template>

<script>
export default {

}
</script>
