<template>
  <div class="q-pa-md absolute-center" style="max-width: 400px">

    <h4>Login</h4>

    <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
      <q-input filled v-model="username" label="Username" lazy-rules
        :rules="[ val => val && val.length > 2 || 'Please enter your username']"/>

      <q-input filled type="password" v-model="password" label="Password" lazy-rules
       :rules="[ val => val && val.length > 9 || 'Please enter your password (min 10)']" />

      <div>
        <q-btn label="Submit" type="submit" color="primary"/>
        <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
      </div>
    </q-form>

  </div>
</template>

<script>
export default {
  data () {
    return {
      loading: false,
      username: '',
      password: ''
    }
  },
  methods: {
    onSubmit () {
      let lo = {
        username: this.username,
        password: this.password
      }
      this.$q.localStorage.set('username', this.username)
      this.$axios.post('/login', lo)
        .then((response) => {
          // console.log('- response data: ' + JSON.stringify(response.data))
          this.$q.localStorage.set('access_token', response.data.access_token)
          this.$q.localStorage.set('avatar_url', response.data.avatar)
          this.onReset()

          // emit todo-login event which triggers first retrieval of tasks.
          this.$root.$emit('todo-login')
          // send user to main page
          this.$router.push('/')
        })
        .catch((error) => {
          this.$q.notify({
            message: error.response.data.status.toUpperCase() + '<br />' + error.response.data.message,
            color: 'negative',
            icon: 'report_problem',
            html: true,
            position: 'top'
          })
        })
    },
    onReset () {
      this.username = ''
      this.password = ''
    }
  }

}
</script>
