<template>
  <q-page class="bg-grey-3 column">
    <div class="row q-pa-sm bg-primary">
      <q-input v-model="newTask" @keyup.enter="addTask" class="col" square filled dense bg-color="white" placeholder="Add task" bottom-slots>
        <template v-slot:append>
          <q-btn round dense flat icon="add" @click="addTask" />
        </template>
        <template v-slot:hint>
          <div class="add-task-hint">
            Tip: add number and colon to set priority (e.g. '9:My task' would create 'My task' with a priority of 9).
          </div>
        </template>
      </q-input>
    </div>
    <q-list class="bg-white" separator bordered>
      <q-item v-for="task in orderedTasks" :key="task.id" @click="toggleTask(task)" :class="{ 'done bg-blue-1': task.completed }" clickable v-ripple>
<!--
        NOTE: could not get model to handle null (which is what an uncompleted task would be) so we changed to using buttons and v-if
        <q-item-section side>
          <q-checkbox v-model="task.completed" indeterminate-value="true" true-value="true" false-value="false" class="no-pointer-events" color="primary" />
        </q-item-section>
-->
        <q-item-section side @click.stop="debugTask(task)">
          <q-btn flat round dense color="primary" icon="check_box_outline_blank" v-if="!task.completed" />
          <q-btn flat round dense color="primary" icon="check_box" v-if="task.completed" />
        </q-item-section>
        <q-item-section side @click.stop="changePriority(task)">
          <q-item-label>
            {{ task.priority }}
            <q-tooltip>
              <div class="text-body1">Task priority (click to change)</div>
            </q-tooltip>
          </q-item-label>
        </q-item-section>
        <q-item-section>
          <q-item-label>
            {{ task.todo }}
            <q-tooltip>
              <div class="text-body1" v-if="task.note">{{ task.note }}</div>
              <div class="text-body2">Created: {{ task.created }}</div>
              <div class="text-body2" v-if="task.completed">Completed: {{ task.completed }}</div>
            </q-tooltip>
          </q-item-label>
        </q-item-section>

        <q-item-section v-if="task.completed" side @click.stop="deleteTask(task.id)">
          <q-btn flat round dense color="primary" icon="delete" />
        </q-item-section>
        <q-item-section side @click.stop="updateTodo(task)">
          <q-btn flat round dense color="primary" icon="edit">
            <q-tooltip>Edit todo</q-tooltip>
          </q-btn>
        </q-item-section>
        <q-item-section side @click.stop="updateNote(task)">
          <q-btn flat round dense color="primary" icon="note">
            <q-tooltip>Edit note</q-tooltip>
          </q-btn>
        </q-item-section>
        <q-item-section side @click.stop="debugTask(task)" v-if="appDebug === 'true'">
          <q-btn flat round dense color="primary" icon="bug_report">
            <q-tooltip>Debug the task...</q-tooltip>
          </q-btn>
        </q-item-section>
      </q-item>
    </q-list>
    <div v-if="!tasks.length" class="no-tasks absolute-center">
      <q-icon name="check" size="100px" color="primary" />
      <div class="text-h5 text-primary text-center">
        No tasks
      </div>
    </div>
  </q-page>
</template>

<script>
import { date } from 'quasar'
import _ from 'lodash'

export default {
  data () {
    return {
      loading: false,
      newTask: '',
      tasks: []
    }
  },
  created () {
    // this.fetchTasks()
  },
  mounted () {
    this.fetchTasks()
    // event to clear tasks (after logout)
    this.$root.$on('todo-logout', () => {
      this.tasks = []
      this.$router.push({ path: '/login' })
      this.fetchTasks()
    })
    // event to load tasks (after login)
    this.$root.$on('todo-login', () => {
      this.fetchTasks()
    })
  },
  computed: {
    orderedTasks: function () {
      return _.orderBy(this.tasks, 'priority')
    },
    appDebug: function () {
      return this.$store.state.debug
    }
  },
  methods: {
    fetchTasks () {
      this.$axios.get('/user')
        .then((response) => {
          // console.log('fetch returned: ', JSON.stringify(response.data))
          this.tasks = response.data
        })
        .catch(() => {
          // note: this is hit when an unauthenticated user hits / which redirects them to /login
          //       no harm in the message so we just dump to console.
          console.log('No tasks found.')
        })
    },
    changePriority (task) {
      this.$q.dialog({
        title: 'Prompt',
        message: 'New Priority for task:',
        prompt: {
          model: task.priority,
          type: 'text'
        },
        cancel: true,
        persistent: true
      }).onOk(data => {
        task.priority = data
        this.$axios.patch('/edit/' + task.id, task)
          .then((response) => {
            this.$q.notify('Task updated')
            this.fetchTasks()
          })
          .catch(function (error) {
            this.$q.notify({
              message: 'ERROR' + '<br />' + error,
              color: 'negative',
              icon: 'report_problem',
              html: true,
              position: 'top'
            })
          })
      })
    },
    debugTask (task) {
      console.log('task is: ' + JSON.stringify(task))
    },
    toggleTask (task) {
      if (task.completed == null || task.completed === '') {
        let timeStamp = Date.now()
        task.completed = date.formatDate(timeStamp, 'YYYY-MM-DD HH:mm')
      } else {
        task.completed = null
      }
      this.$axios.patch('/edit/' + task.id, task)
        .then((response) => {
          //console.log('- add response: ', response)
          this.$q.notify('Task updated')
          this.fetchTasks()
        })
        .catch(function (error) {
          this.$q.notify({
            message: 'ERROR' + '<br />' + error,
            color: 'negative',
            icon: 'report_problem',
            html: true,
            position: 'top'
          })
        })
    },
    updateNote (task) {
      this.$q.dialog({
        title: 'Prompt',
        message: 'New Note for task:',
        prompt: {
          model: task.note,
          type: 'text'
        },
        cancel: true,
        persistent: true
      }).onOk(data => {
        task.note = data
        this.$axios.patch('/edit/' + task.id, task)
          .then((response) => {
            //console.log('- add response: ', response)
            this.$q.notify('Task updated')
            this.fetchTasks()
          })
          .catch(function (error) {
            this.$q.notify({
              message: 'ERROR' + '<br />' + error,
              color: 'negative',
              icon: 'report_problem',
              html: true,
              position: 'top'
            })
          })
      })
    },
    updateTodo (task) {
      this.$q.dialog({
        title: 'Prompt',
        message: 'New Todo for task:',
        prompt: {
          model: task.todo,
          type: 'text'
        },
        cancel: true,
        persistent: true
      }).onOk(data => {
        task.todo = data
        this.$axios.patch('/edit/' + task.id, task)
          .then((response) => {
            //console.log('- add response: ', response)
            this.$q.notify('Task updated')
            this.fetchTasks()
          })
          .catch(function (error) {
            this.$q.notify({
              message: 'ERROR' + '<br />' + error,
              color: 'negative',
              icon: 'report_problem',
              html: true,
              position: 'top'
            })
          })
      })
    },
    deleteTask (id) {
      this.$q.dialog({
        title: 'Confirm',
        message: 'Really delete?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.$axios.delete('/remove/' + id)
          .then((response) => {
            //console.log('- delete response: ', response)
            this.$q.notify('Task deleted')
            this.fetchTasks()
          })
          .catch(function (error) {
            this.$q.notify({
              message: 'ERROR' + '<br />' + error,
              color: 'negative',
              icon: 'report_problem',
              html: true,
              position: 'top'
            })
          })
      })
    },
    addTask () {
      // figure out if we have a priority, if so add it and todo, otherwise just todo
      let combined = this.newTask.split(':')
      let priority = 3
      let todo = this.newTask
      if (combined.length > 1) {
        priority = combined[0]
        todo = combined[1]
      }
      let newTask = {
        todo: todo,
        priority: priority,
        done: false,
        created: '',
        // owner: this.$q.localStorage.getItem('username'),
        // note: owner is added by backed from jwt info.
        note: '',
        completed: ''
      }
      this.$axios.post('/add', newTask)
        .then((response) => {
          //console.log('- add response: ', response)
          this.$q.notify('Task added')
          this.fetchTasks()
          // clear out add task field.
          this.newTask = ''
        })
        .catch(function (error) {
          this.$q.notify({
            message: 'ERROR' + '<br />' + error,
            color: 'negative',
            icon: 'report_problem',
            html: true,
            position: 'top'
          })
        })
    }
  }

}
</script>

<style lang="scss">
  .done {
    .q-item__label {
      text-decoration: line-through;
      color: #bbb;
    }
  }
  .no-tasks {
    opacity: 0.5;
  }
  .task-note {
    font-size: smaller;
    font-style: italic;
  }
  .add-task-hint {
    color: #fff;
  }
</style>
