<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="drawer = !drawer"
          icon="menu"
          aria-label="Menu"
        />
      </q-toolbar>
      <div class="q-px-lg q-pt-xl q-mb-md">
        <div class="text-h3">
            Todo
        </div>
        <div class=text-subtitle1>{{ todaysDate }}</div>
      </div>
      <q-img
        src="statics/mountains.png"
        class="header-image absolute-top" />
    </q-header>

    <q-drawer
        v-model="drawer"
        :width="200"
        :breakpoint="600"
      >
        <q-scroll-area style="height: calc(100% - 182px); margin-top: 182px; border-right: 1px solid #ddd">
          <q-list padding>
            <q-item to="/" exact clickable v-ripple v-if="this.$q.localStorage.getItem('username')">
              <q-item-section avatar>
                <q-icon name="view_list" />
              </q-item-section>

              <q-item-section>
                Tasks
              </q-item-section>
            </q-item>

            <q-item to="/help" exact clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="help" />
              </q-item-section>

              <q-item-section>
                Help
              </q-item-section>
            </q-item>

            <q-item to="/about" exact clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="info" />
              </q-item-section>

              <q-item-section>
                About
              </q-item-section>
            </q-item>

            <q-item to="/login" exact clickable v-ripple @click="logout" v-if="!this.$q.localStorage.getItem('username')">
              <q-item-section avatar>
                <q-icon name="how_to_reg" />
              </q-item-section>

              <q-item-section>
                Login
              </q-item-section>
            </q-item>

            <q-item exact clickable v-ripple @click="logout" v-if="this.$q.localStorage.getItem('username')">
              <q-item-section avatar>
                <q-icon name="logout" />
              </q-item-section>

              <q-item-section>
                Logout
              </q-item-section>
            </q-item>

          </q-list>
        </q-scroll-area>

        <q-img class="absolute-top" src="statics/mountains.png" style="height: 182px">
          <div class="absolute-bottom bg-transparent" v-if="this.$q.localStorage.getItem('username')">
            <q-avatar size="56px" class="q-mb-sm">
              <img v-bind:src="this.$q.localStorage.getItem('avatar_url')" />
            </q-avatar>
            <div class="text-weight-bold">{{ this.$q.localStorage.getItem('username') }}</div>
          </div>
        </q-img>
      </q-drawer>

    <q-page-container>
      <keep-alive>
        <router-view />
      </keep-alive>
    </q-page-container>
  </q-layout>
</template>

<script>
import { date } from 'quasar'

export default {
  name: 'MyLayout',

  data () {
    return {
      // "false" means hidden
      // "true" means visible
      drawer: false
    }
  },
  computed: {
    todaysDate () {
      let timeStamp = Date.now()
      return date.formatDate(timeStamp, 'dddd D MMMM')
    }
  },
  methods: {
    logout () {
      this.$q.localStorage.remove('access_token')
      this.$q.localStorage.remove('avatar_url')
      this.$q.localStorage.remove('username')
      // emit todo-logout event which clears tasks and completes the logout
      this.$root.$emit('todo-logout')
    }
  }
}
</script>

<style lang="scss">
    .header-image {
        height: 100%;
        z-index: -1;
        opacity: 0.2;
        filter: grayscale(100%);
    }
</style>
